<ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-button>
      <ion-icon slot="icon-only" name="hand-right-outline"></ion-icon>
    </ion-button>
  </ion-title>
  </ion-toolbar>
