<ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="backToHome();"> 
        <ion-icon style="font-size: 35px;" slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon style="font-size: 35px;" slot="icon-only" name="mic-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-button color="light" shape="round">
        <ion-icon slot="icon-only" name="hand-right-outline"></ion-icon>
      </ion-button>
  </ion-title>
</ion-toolbar>
