// total=925px
.oneThird{
    height:308px;
    background-color: rgba(201, 200, 200, 0.8);
    border-radius: 25px;
    margin: 25px;
  }

.twoThirds{
    height:616px;
    background-color: rgba(201, 200, 200, 0.8);
    border-radius: 25px;
    margin: 25px;
  }